.titulo{
    margin: 20px;
}
.tarjeta {
    display: flex;    
    width: 300px;
}

.tarjetaTitulo {
    margin-top: 1rem; 
    padding-top: 10px;
}

.tarjetaImg {
    height: 300px;
    width: 300px;
    object-fit: contain;
}
