body{
    background:rgba(147, 242, 188, 1)
}

span{
    padding-left: 10px;
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 600;
    color: orange;    
}

nav img{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}